<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Content page 1</title>
    <script src="content-script.js"></script>
</head>
<body>
<div layout:fragment="content">


    <p th:text="'Hello-, ' + ${name} + '!'" />

    <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

    <div th:insert="~{fragments/footer :: footer}">footer in index</div>


</div>

<div layout:fragment="custom-footer">
    <p>footer for <b>Shoes</b></p>
</div>
</body>
</html>