<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">

    <ul>
        <li>
            <a href="#" th:href="@{/}">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/accounts}">
                <span>Accounts</span>
            </a>
        </li>
        <li>
            <a href="#" th:href="@{/login}">
                <span>Login</span>
            </a>
        </li>
        <li>

            <form name="logoutform" th:action="@{/logout}" method="post" style="display: inline;">

                <a href="javascript: document.logoutform.submit();">Logout</a>

            </form>
        </li>
    </ul>
</div>

</body>
</html>